{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-4" style="padding: 0 !important;border-bottom: 3px solid lightgray !important;border-radius: 10px;">
      <div class="card shadow-sm">
        <div class="card-body text-center">

          {# Avatar #}
          <div class="avatar mb-3">
            <img src="{{ asset('assets/avatars/' ~ app.user.avatar) }}" alt="Avatar de {{ app.user.username }}" class="avatar-profile">
          </div>

          {# Formulaire #}
          {{ form(formProfile) }}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
