{% extends 'base.html.twig' %}


{% block body %}
<section class="index-container">
    <section class="in-progress-draw">
        {% include "_modal_add_member.html.twig" %}
    </section>
    <section>
        <ul id="members-output" class="list-unstyled m-0">
        </ul>
    </section>
    <h2 class="draw-title">Tirage en cours:</h2>

    <h2 class="draw-title">Tirages terminés:</h2>
    <section class="finished-draw">
        {# {% for draw in draws %}
            {{draw.id}}
        {% endfor %} #}
    </section>
</section>
{% endblock %}
